/**
    Theme Name: Auberge du Coin
    Description: Customized child theme of GeneratePress for Auberge du Coin
    Author: noodle
    Author URI: https://code.collide.rs
    Template: generatepress
    Version: 1.0.0
    Requires at least: 5.8
    Requires PHP: 7.4
    Tested up to: 5.9.3
    License:      GNU General Public License v2 or later
    License URI:  http://www.gnu.org/licenses/gpl-2.0.html
    Text Domain: auberge_du_coin
*/

#masthead {
  background-image: url(/wp-content/uploads/2022/03/cropped-shutter-PPN467B-scaled-2.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}
@media (max-width: 767px) {
  #masthead {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  #rooms article {
    display: flex;
    align-items: stretch;
  }
  #rooms article > div {
    width: 50%;
  }
  #rooms article:nth-child(2n) > div:first-child{
      order: 2;
  }
}
.feedback-rating{
  width: 20px;
}

#feedback div{
  display: flex;
  flex-wrap: wrap;
}
#feedback article{
  width: 25%;
}
@media screen and (max-width: 767px) {
  #feedback article{
    width: 50%;
  }
}
